body{
	background-color: #f6f6f6;
	
}
#toprow{
	height: 290px;
}

#painting{
	
	width:400px;
	height:400px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 30px;
	margin-left: 30px;
	box-shadow: 10px 10px 0px #8d8d8d;
		background-color: #fff4db;
}
#bigbox {
	width: 290px;
	height: 290px;
}
.red{
	background-color: #cc3333;
}

.blue{
	background-color: blue; 
}
.yellow{
	background-color: yellow;

}
.black {
	background-color: black;
}

.right {
	float: right;
}
#divider1{
	height: 400px;
	 width:  10px;
}
.mediumbox {
	width: 100px;
	height: 50px;
	background-color: blue;
}
#divider2{
	width: 100px;
	height: 10px;
background-color: red; 
}
#divider3{
	width: 100px;
	height: 10px;
}
.topbox {
	width: 100px;
	height: 100px;
	background-color: green;
}

